<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index.html</title>
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.js" type="application/javascript"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>
</head>
<body>
<h2><a th:if="${session.telephone == null}" th:href="@{/login2}">登录</a></h2>
<div align="center" th:if="${session.telephone != null}">
    <table border="1">
        <tr>
            <th class="list_th">id</th>
            <th class="list_th">telephone</th>
            <th class="list_th">password</th>
            <th class="list_th">token</th>
            <th class="list_th">操作</th>
            <th class="list_th">操作</th>
            <th class="list_th">操作</th>
        </tr>
        <tr th:each="person:${pageInfo.list}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.telephone}"></td>
            <td th:text="${person.password}"></td>
            <td th:text="${person.token}"></td>
            <td ><button type="button" class="btn btn-primary"   th:onclick="'javascript:deleteUser('+${person.id}+')'">
                删除
            </button></td>
            <td ><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2" onclick=" return clearUser()">
                添加
            </button></td>
            <td> <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal3"  th:onclick="'javascript:editUser('+${person.id}+')'" >
                修改
            </button></td>

        </tr>
    </table>
<br>
    <p>当前 <span th:text="${pageInfo.pageNum}"></span> 页,总 <span th:text="(${pageInfo.pages})"></span> 页,共 <span th:text="${pageInfo.total}"></span> 条记录</p>
    <a th:href="@{/list.action}">首页</a>
    <a th:href="@{/list.action(pageNum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}">上一页</a>
    <a th:href="@{/list.action(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a>
    <a th:href="@{/list.action(pageNum=${pageInfo.pages})}">尾页</a>
<!--    分页预览数设置-->
<!--1.使用bootsrap nav and ul-->
    <nav aria-label="Page navigation">
        <ul class="pagination" >
            <!-- 首页 -->
            <li> <a th:href="@{/list.action}">首页</a></li>

            <li th:if="${pageInfo.pageNum == 1}"><span>上一页</span></li>
            <li th:if="${pageInfo.pageNum > 1}"><a th:href="@{/list.action(pageNum=${pageInfo.pageNum} -1)}">上一页</a></li>

            <!-- 当前页面小于等于4,展示<1，2，3，4...> -->
            <th:block data-th-if="${(pageInfo.pageNum) le 4}" data-th-each="i : ${#numbers.sequence(1,4)}">
              <li th:if="${pageInfo.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li>
              <li th:if="${pageInfo.pageNum != i}"><a th:href="@{/list.action(pageNum=${i})}" th:text="${i}">页码</a></li>
            </th:block>

            <li data-th-if="${(pageInfo.pageNum) le 4}">
                <a th:href="@{/list.action(pageNum=${pageInfo.pageNum} + 3)}" >
                    <span >...</span>
                </a>
            </li>

            <!-- 最后一页与当前页面之差，小于等于3 展示<...14,15,16,17>-->
            <li data-th-if="${((pageInfo.pages)-(pageInfo.pageNum)) le 3}">
                <a th:href="@{/list.action(pageNum=${pageInfo.pageNum}-3)}" >
                    <span >...</span>
                </a>
            </li>
            <th:block data-th-if="${((pageInfo.pages)-(pageInfo.pageNum)) le 3}" data-th-each="i : ${#numbers.sequence((pageInfo.pages)-3, (pageInfo.pages))}">
                <li th:if="${pageInfo.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li>
                <li th:if="${pageInfo.pageNum != i}"><a th:href="@{/list.action(pageNum=${i})}" th:text="${i}">页码</a></li>
            </th:block>

            <!-- 当前页面大于4，最后一页与当前页面之差大于3 展示<...7，8，9....>-->
            <li data-th-if="${((pageInfo.pageNum) gt 4) && (((pageInfo.pages)-(pageInfo.pageNum)) gt 3 )}">
                <a th:href="@{/list.action(pageNum=${pageInfo.pageNum} - 3)}" >
                    <span >...</span>
                </a>
            </li>
            <th:block  data-th-if="${((pageInfo.pageNum ) gt 4) && (((pageInfo.pages)-(pageInfo.pageNum )) gt 3 )}" data-th-each="i : ${#numbers.sequence(pageInfo.pageNum, (pageInfo.pageNum)+2)}">
                <li th:if="${pageInfo.pageNum == i}"  class="active"><span th:text="${i}">页码</span></li>
                <li th:if="${pageInfo.pageNum != i}"><a th:href="@{/list.action(pageNum=${i})}" th:text="${i}">页码</a></li>
            </th:block>

            <li   data-th-if="${((pageInfo.pageNum) gt 4) && (((pageInfo.pages)-(pageInfo.pageNum)) gt 3 )}">
                <a th:href="@{/list.action(pageNum=${pageInfo.pageNum} + 3)}" >
                    <span >...</span>
                </a>
            </li>

            <li th:if="${pageInfo.pageNum == pageInfo.pages}"><span>下一页</span></li>
            <li th:if="${pageInfo.pageNum < pageInfo.pages}">  <a th:href="@{/list.action(pageNum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}">下一页</a></li>
            <li>  <a th:href="@{/list.action(pageNum=${pageInfo.pages})}">尾页</a></li>
        </ul>
    </nav>
</div>



<!-- 模态框 -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">添加</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form  id="mobileform"  onclick="return checkForm()" method="get">
                    <div class="form-group fgdiv">
                        <label for="telephone">telephone</label>
                        <input type="text" class="form-control dlinput" id="telephone" name="telephone" placeholder="请输入11位的手机号"   required minlength="11" >
                        <div class="warn1"></div>
                    </div>
                    <div class="form-group fgdiv">
                        <label for="password">password</label>
                        <input type="text" class="form-control dlinput" id="password" name="password" placeholder="请输入6位数字密码"  required minlength="6">
                        <div class="warn2"></div>
                    </div>
                    <button type="button" class="btn btn-success dlbtn" onclick="return createUser()">提交</button>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="myModal3">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title">修改</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form   id="mobileform1" onclick="return checkForm2()" method="get">

                    <input type="hidden" class="form-control dlinput" id="user_id" name="id"/>

                    <div class="form-group fgdiv">
                        <label for="telephone1">telephone</label>

                        <input type="text" class="form-control dlinput" id="telephone1" name="telephone" placeholder="请输入11位的手机号"   required minlength="11" >
                        <div class="warn1"></div>
                    </div>
                    <div class="form-group fgdiv">
                        <label for="password1">password</label>
                        <input type="text" class="form-control dlinput" id="password1" name="password" placeholder="请输入6位数字密码"  required minlength="6">
                        <div class="warn2"></div>
                    </div>
<!--                    //type=button 不允许提交表单-->
                    <button type="button" class="btn btn-success dlbtn" onclick="return updateCustomer()">保存修改</button>
                </form>
            </div>

            <!-- 模态框底部 -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>

        </div>
    </div>
</div>


</body>
<script type="text/javascript">

    function clearUser() {
        $("#telephone").val("");
        $("#password").val("");
    }
    function checkForm() {

        var telephone = $("#telephone").val();
        var password = $("#password").val();

        $("#telephone").ready(function () {
            if (telephone == "") {
                $(".warn1").html("")
                return false;
            }
        })
        $("#password").ready(function () {
            if (password == "") {
                $(".warn2").html("")
                return false;
            }
        })
        $("#telephone").focus(function () {
            $(".warn2").html("")

            return false;
        })
        $("#password").focus(function () {
            $(".warn2").html("")
            return false;
        })
        $("#telephone").blur(function () {

            if (telephone == "") {
                $(".warn1").html("")
                return false;
            }
        })
        $("#password").blur(function () {

            if (password == "") {
                $(".warn2").html("")
                return false;
            }
        })

        $(function () {
            $("#telephone").focus(function () {
                $(".msg").hide();
            })
        })
    }

        function createUser() {

            var telephone = $("#telephone").val();
            var password = $("#password").val();

            if (!(/^(((13[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[3-8]{1})|(18[0-9]{1})|(19[0-9]{1})|(14[5-7]{1}))+\d{8})$/.test(telephone))) {
                $(".warn1").html("手机号码格式不正确")

                return false;
            } else if (!(/^[0-9]{6}$/.test(password))) {
                $(".warn2").html("密码格式格式不正确")
                return false;
            } else {
                //解决同步问题
                $.ajaxSetup({
                    async:false
                })
                $.post("/add.action", $("#mobileform").serialize(), function (data) {
                    alert(data)
                    if (data === "OK") {
                        alert("客户添加成功");
                        window.location.reload();
                    } else {
                        alert("客户添加失败");
                        window.location.reload();
                    }
                })
            }

        }

        function checkForm2() {

            var telephone = $("#telephone1").val();
            var password = $("#password1").val();

            $("#telephone1").ready(function () {
                if (telephone == "") {
                    $(".warn1").html("")
                    return false;
                }
            })
            $("#password1").ready(function () {
                if (password == "") {
                    $(".warn2").html("")
                    return false;
                }
            })
            //聚焦
            $("#telephone1").focus(function () {
                $(".warn2").html("")

                return false;
            })
            $("#password1").focus(function () {
                $(".warn2").html("")
                return false;
            })
            //失去焦点
            $("#telephone1").blur(function () {

                if (telephone == "") {
                    $(".warn1").html("")
                    return false;
                }
            })
            $("#password1").blur(function () {

                if (password == "") {
                    $(".warn2").html("")
                    return false;
                }
            })


            $(function () {
                $("#telephone").focus(function () {
                    $(".msg").hide();
                })
            })
        }

            function editUser(ID) {
                console.log(ID)
                const modal = $("#myModal3");
                modal.find('#user_id').val(ID);
            }

            // 执行修改客户操作
            function updateCustomer() {
                var telephone = $("#telephone1").val();
                var password = $("#password1").val();
                if (!(/^(((13[0-9]{1})|(15[0-9]{1})|(16[0-9]{1})|(17[3-8]{1})|(18[0-9]{1})|(19[0-9]{1})|(14[5-7]{1}))+\d{8})$/.test(telephone))) {
                    $(".warn1").html("手机号码格式不正确")
                    return false;
                } else if (!(/^[0-9]{6}$/.test(password))) {
                    $(".warn2").html("密码格式格式不正确")
                    return false;
                } else {
                    //将异步改为同步
                    $.ajaxSetup({
                        async:false
                    })
                    $.post("/update.action", $("#mobileform1").serialize(), function (data) {
                        if (data == "OK") {
                            alert("客户信息更新成功！");
                         window.location.reload()
                        } else {
                            alert("客户信息更新失败！");
                          window.location.reload()
                        }
                    })

                }


            }

            // 删除客户
            function deleteUser(id) {
                if (confirm('确实要删除该客户吗?')) {
                    $.post("/delete.action", {"id": id},
                        function (data) {
                            if (data == "OK") {
                                alert("客户删除成功！");
                                window.location.reload();
                            } else {
                                alert("删除客户失败！");
                                window.location.reload();
                            }
                        });
                }
            }

</script>
</html>
